{% extends 'SonataAdminBundle::standard_layout.html.twig' %}


{% block javascripts %}
{{ parent() }}

<script src="/bundles/stfalcontinymce/vendor/tiny_mce/jquery.tinymce.js"></script>

<script src="/bundles/iphpcore/js/select2/select2.js"></script>

{# для genemu#}
{% if form is defined %}{{ form_javascript(form) }}{% endif %}
{% endblock %}




{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="/bundles/iphpcore/js/select2/select2.css">
{% if form is defined %}{{ form_stylesheet(form) }}{% endif %}
<style>
    label.label_hidden {
        display: none
    }

    .mceLayout {
        width: 500px
    }
</style>


{% endblock %}
{% block top_bar_after_nav %}
{% block publishers_top_bar%}

{% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Объявления <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <!--<li><a href="{{ path('ad_manager_publisher_homepage') }}"><i class="icon-user"></i> Publishers</a></li>-->
                <li><a href="{{ path('ad_manager_ad_homepage') }}"><i class="icon-list-alt"></i> Ads</a></li>
                <li><a href="{{ path('ad_manager_field_homepage') }}"><i class="icon-pencil"></i> Fields</a></li>
            </ul>
        </li>

    {% endif %}
{% endblock %}

{% endblock %}