{# src/AdManager/PublisherBundle/Resources/views/base.html.twig #}
{% extends 'IphpCoreBundle:Admin:standard_layout.html.twig' %} 

{% block sonata_admin_content %}

    {% block sidebar %}
        <ul class="nav nav-list">
            <li><a href="{{ path('add_publisher') }}">Add Publisher</a></li>
            <li><a href="{{ path('add_ad') }}">Add Ad</a></li>
            <li><a href="{{ path('add_field') }}">Add Field</a></li>
        </ul>
    {% endblock %}

    {%block body%}
    {% endblock %}

{% endblock %}
                
{% block javascripts %}
    {{ parent() }}
                
    <script src="{{ asset('bundles/admanagerpublisher/js/main.js') }}" type="text/javascript"></script>
{% endblock %}
